<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Snake.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF6913841DC6B65900E85E8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF69139E1DC6B65A00E85E8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF6913A91DC6B65A00E85E8C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
