<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>pastel</key>
	<dict>
		<key>bright</key>
		<dict>
			<key>Fonts</key>
			<dict>
				<key>Standard</key>
				<string>MyriadWebPro-Bold</string>
				<key>Supporting</key>
				<string>MyriadWeb-Pro</string>
			</dict>
			<key>Colors</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>Background</key>
					<dict>
						<key>Red</key>
						<integer>240</integer>
						<key>Green</key>
						<integer>255</integer>
						<key>Blue</key>
						<integer>255</integer>
					</dict>
					<key>Foreground</key>
					<dict>
						<key>Red</key>
						<integer>120</integer>
						<key>Green</key>
						<integer>120</integer>
						<key>Blue</key>
						<integer>120</integer>
					</dict>
				</dict>
				<key>Game</key>
				<dict>
					<key>Background</key>
					<dict>
						<key>Red</key>
						<integer>230</integer>
						<key>Green</key>
						<integer>245</integer>
						<key>Blue</key>
						<integer>245</integer>
					</dict>
					<key>Foreground</key>
					<dict>
						<key>Red</key>
						<integer>100</integer>
						<key>Green</key>
						<integer>100</integer>
						<key>Blue</key>
						<integer>100</integer>
					</dict>
					<key>Snake</key>
					<dict>
						<key>Red</key>
						<integer>240</integer>
						<key>Green</key>
						<integer>160</integer>
						<key>Blue</key>
						<integer>50</integer>
					</dict>
					<key>Food</key>
					<dict>
						<key>Red</key>
						<integer>90</integer>
						<key>Green</key>
						<integer>180</integer>
						<key>Blue</key>
						<integer>40</integer>
					</dict>
					<key>Dizy</key>
					<dict>
						<key>Red</key>
						<integer>90</integer>
						<key>Green</key>
						<integer>80</integer>
						<key>Blue</key>
						<integer>0</integer>
					</dict>
					<key>Dead</key>
					<dict>
						<key>Red</key>
						<integer>150</integer>
						<key>Green</key>
						<integer>50</integer>
						<key>Blue</key>
						<integer>0</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>dark</key>
		<dict>
			<key>Fonts</key>
			<dict>
				<key>Standard</key>
				<string>MyriadWebPro-Bold</string>
				<key>Supporting</key>
				<string>MyriadWeb-Pro</string>
			</dict>
			<key>Colors</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>Background</key>
					<dict>
						<key>Red</key>
						<integer>30</integer>
						<key>Green</key>
						<integer>30</integer>
						<key>Blue</key>
						<integer>35</integer>
					</dict>
					<key>Foreground</key>
					<dict>
						<key>Red</key>
						<integer>150</integer>
						<key>Green</key>
						<integer>150</integer>
						<key>Blue</key>
						<integer>150</integer>
					</dict>
				</dict>
				<key>Game</key>
				<dict>
					<key>Background</key>
					<dict>
						<key>Red</key>
						<integer>20</integer>
						<key>Green</key>
						<integer>20</integer>
						<key>Blue</key>
						<integer>25</integer>
					</dict>
					<key>Foreground</key>
					<dict>
						<key>Red</key>
						<integer>150</integer>
						<key>Green</key>
						<integer>150</integer>
						<key>Blue</key>
						<integer>150</integer>
					</dict>
					<key>Snake</key>
					<dict>
						<key>Red</key>
						<integer>50</integer>
						<key>Green</key>
						<integer>75</integer>
						<key>Blue</key>
						<integer>100</integer>
					</dict>
					<key>Food</key>
					<dict>
						<key>Red</key>
						<integer>50</integer>
						<key>Green</key>
						<integer>100</integer>
						<key>Blue</key>
						<integer>30</integer>
					</dict>
					<key>Dizy</key>
					<dict>
						<key>Red</key>
						<integer>90</integer>
						<key>Green</key>
						<integer>80</integer>
						<key>Blue</key>
						<integer>0</integer>
					</dict>
					<key>Dead</key>
					<dict>
						<key>Red</key>
						<integer>100</integer>
						<key>Green</key>
						<integer>20</integer>
						<key>Blue</key>
						<integer>30</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>spring</key>
	<dict>
		<key>bright</key>
		<dict>
			<key>Fonts</key>
			<dict>
				<key>Standard</key>
				<string>MyriadWebPro-Bold</string>
				<key>Supporting</key>
				<string>MyriadWeb-Pro</string>
			</dict>
			<key>Colors</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>Background</key>
					<dict>
						<key>Red</key>
						<integer>76</integer>
						<key>Green</key>
						<integer>76</integer>
						<key>Blue</key>
						<integer>76</integer>
					</dict>
					<key>Foreground</key>
					<dict>
						<key>Red</key>
						<integer>0</integer>
						<key>Green</key>
						<integer>82</integer>
						<key>Blue</key>
						<integer>40</integer>
					</dict>
				</dict>
				<key>Game</key>
				<dict>
					<key>Background</key>
					<dict>
						<key>Red</key>
						<integer>87</integer>
						<key>Green</key>
						<integer>87</integer>
						<key>Blue</key>
						<integer>87</integer>
					</dict>
					<key>Foreground</key>
					<dict>
						<key>Red</key>
						<integer>1</integer>
						<key>Green</key>
						<integer>1</integer>
						<key>Blue</key>
						<integer>1</integer>
					</dict>
					<key>Snake</key>
					<dict>
						<key>Red</key>
						<integer>50</integer>
						<key>Green</key>
						<integer>50</integer>
						<key>Blue</key>
						<integer>50</integer>
					</dict>
					<key>Food</key>
					<dict>
						<key>Red</key>
						<integer>0</integer>
						<key>Green</key>
						<integer>82</integer>
						<key>Blue</key>
						<integer>0</integer>
					</dict>
					<key>Dizy</key>
					<dict>
						<key>Red</key>
						<integer>90</integer>
						<key>Green</key>
						<integer>80</integer>
						<key>Blue</key>
						<integer>0</integer>
					</dict>
					<key>Dead</key>
					<dict>
						<key>Red</key>
						<integer>30</integer>
						<key>Green</key>
						<integer>30</integer>
						<key>Blue</key>
						<integer>30</integer>
					</dict>
				</dict>
			</dict>
		</dict>
		<key>dark</key>
		<dict>
			<key>Fonts</key>
			<dict>
				<key>Standard</key>
				<string>MyriadWebPro-Bold</string>
				<key>Supporting</key>
				<string>MyriadWeb-Pro</string>
			</dict>
			<key>Colors</key>
			<dict>
				<key>Main</key>
				<dict>
					<key>Background</key>
					<dict>
						<key>Red</key>
						<integer>11</integer>
						<key>Green</key>
						<integer>5</integer>
						<key>Blue</key>
						<integer>8</integer>
					</dict>
					<key>Foreground</key>
					<dict>
						<key>Red</key>
						<integer>60</integer>
						<key>Green</key>
						<integer>55</integer>
						<key>Blue</key>
						<integer>50</integer>
					</dict>
				</dict>
				<key>Game</key>
				<dict>
					<key>Background</key>
					<dict>
						<key>Red</key>
						<integer>10</integer>
						<key>Green</key>
						<integer>10</integer>
						<key>Blue</key>
						<integer>10</integer>
					</dict>
					<key>Foreground</key>
					<dict>
						<key>Red</key>
						<integer>60</integer>
						<key>Green</key>
						<integer>60</integer>
						<key>Blue</key>
						<integer>60</integer>
					</dict>
					<key>Snake</key>
					<dict>
						<key>Red</key>
						<integer>80</integer>
						<key>Green</key>
						<integer>80</integer>
						<key>Blue</key>
						<integer>80</integer>
					</dict>
					<key>Food</key>
					<dict>
						<key>Red</key>
						<integer>0</integer>
						<key>Green</key>
						<integer>80</integer>
						<key>Blue</key>
						<integer>40</integer>
					</dict>
					<key>Dizy</key>
					<dict>
						<key>Red</key>
						<integer>90</integer>
						<key>Green</key>
						<integer>80</integer>
						<key>Blue</key>
						<integer>0</integer>
					</dict>
					<key>Dead</key>
					<dict>
						<key>Red</key>
						<integer>25</integer>
						<key>Green</key>
						<integer>25</integer>
						<key>Blue</key>
						<integer>25</integer>
					</dict>
				</dict>
			</dict>
		</dict>
	</dict>
</dict>
</plist>
